@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(34, 34, 34);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
